*.class
*.log
*.hprof
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
windows/flutter/ephemeral/

app.*.symbols
app.*.map.json

/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/.kotlin/

**/local.properties
**/key.properties
**/*.jks
**/*.keystore

.env
.env.*
!.env.example

tool/
